<div class="row">
  <div class="col-md-6">
    <% unless current_user.fb_user? %> <!-- seul l'utilisateur connecté via email peut modifier son profile. Celui qui s'est loggé via facebook le fera via fb-->
      <%= render "user_account" %>
    <% else %>
      <div class="alert alert-info">
        You're logged in via facebook. Change your user info there
      </div>
    <% end %>

  </div>
  <div class="col-md-6">
    
  </div>
</div>
<div class="col-md-6">
  
</div>